[alias]
	graph = ! git log --graph --abbrev --decorate --color=always --relative-date --format=format:'%C(bold green)%d%C(reset) %C(white)%s%C(reset) - %C(cyan)%an%C(reset) %C(yellow)(%ad)%C(reset)%n' --branches --tags --remotes | less -r
[color]
	ui = true
[core]
	autocrlf = input
	editor = nano
	pager = less -r
	excludesfile = /Users/wec/.gitignore_global
[mergetool]
	keepBackup = false
[push]
	default = upstream
[user]
	email = tungsten314@gmail.com
	name = Tungsten314
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
