[alias]
	graph = ! git log --graph --abbrev --decorate --color=always --relative-date --format=format:'%C(green)%d%C(reset) %C(white)%s%C(reset) - %C(cyan)%an%C(reset) %C(yellow)(%ad)%C(reset)%n' --branches --tags --remotes | less -r
[color]
	ui = true
[core]
	autocrlf = input
	editor = nano
	pager = less -r
	excludesfile = /home/wec/.gitignore_global
[mergetool]
	keepBackup = false
[push]
	default = upstream
[user]
	email = wec.notif.github@gmail.com
	name = wecassidy
[ghi "highlight"]
	style = colorful
